<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sitemap Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>

    <section class="main-content">
      <h2 id="how-to-use-sitemap-generator">How to use Sitemap Generator</h2>

<ol>
  <li>
    <p><strong>Click the extension icon</strong> in the top right corner</p>
  </li>
  <li>
    <p>Session configuration window will open. In this window <strong>set your preferences</strong> then click start.</p>
  </li>
  <li>
    <p>The <strong>sitemap generator will launch</strong> in a separate window. You may let this window run in the background.</p>
  </li>
  <li>
    <p>When complete, the <strong>generated sitemap will download</strong> and you can also see it in your downloads folder.</p>
  </li>
</ol>

<h3 id="a-few-words-about-permissions">A few words about permissions</h3>

<p><img src="icons/prompt.png" alt="permissions"></p>

<p>When you use use the extension to crawl some domain for the first time you should see the above prompt. The permissions are required for the sitemap generation to be successful, so make sure you choose <code class="highlighter-rouge">Allow</code>.</p>

<p>What the prompt says: <strong>Read and change your data on (some website)</strong></p>

<p>Why it is needed: This permission is needed to read contents of the website you are about to crawl.</p>

<p>What the prompt says: <strong>Read your browsing history</strong></p>

<p>Why it is needed: This permission appears when extension is requesting ability to open and close tabs and access their contents. It does not read your browsing history. Please review project source code on Github if you need further verification.</p>

<hr>

<p><strong>Thank you for installing sitemap generator extension! We hope you enjoy it. Please share with your friends and rate your experience at Chrome Web Store.</strong></p>  

</body>